{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="{{ asset('img/link.png') }}" alt="" width="100">
            <h3 class="font-weight-light">Welcome to</h3>
            <h1 class="text-uppercase mb-0">Link Share</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Online Link Sharing System</h2>
        </div>
    </header>

    <!-- Create Link Section -->
    <section id="create">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Create Link</h2>
            <hr class="star-dark mb-5">

            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h4 class="text-center text-secondary">
                    Only authorized users can share links.
                    <a class="nav-link portfolio-item py-3 px-0 px-lg-3 rounded" onClick="showForm('signInBox')" href="#authorization-modal">Sign in</a>
                    to continue.
                </h4>
            {% else %}
                <h4 class="text-center text-secondary">Create</h4>
            {% endif %}

        </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                        molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta,
                        eos quod consequuntur itaque. Nam.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                        molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta,
                        eos quod consequuntur itaque. Nam.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}