{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
        <div class="container">
            <img class="img-fluid mb-5 d-block mx-auto" src="{{ asset('img/link.png') }}" alt="" width="100">
            <h3 class="font-weight-light">Welcome to</h3>
            <h1 class="text-uppercase mb-0">Link Share</h1>
            <hr class="star-light">
            <h2 class="font-weight-light mb-0">Online Link Sharing System</h2>
        </div>
    </header>

    <!-- Create Link Section -->
    <section id="create">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Create Link</h2>
            <hr class="star-dark mb-5">

            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <h4 class="text-center text-secondary">
                    Only authorized users can share links.
                    <a class="nav-link portfolio-item py-3 px-0 px-lg-3 rounded" onClick="showForm('signInBox')" href="#authorization-modal">Sign in</a>
                    to continue.
                </h4>
            {% else %}
                <div class="col-lg-10 mx-auto">
                    <table id="urlsTable" class="table order-list">
                        <thead>
                        <tr>
                            <th>URL</th>
                            <th>Tags</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><label><input type="text" class="form-control" name="rowUrl"/></label></td>
                            <td><label><input type="text" class="form-control" name="rowTags"/></label></td>
                            <td><label><input type="text" class="form-control" name="rowDesc"/></label></td>
                            <td></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <input type="button" class="btn btn-primary" id="addNewRow" value="Add New URL"/>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                    <form name="shareURL" action="{{ path('create_pack') }}" method="POST">
                        <input type="hidden" name="shareToken" value="{{ csrf_token('share-links') }}"/>

                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label for="shareURLsDesc">Description</label>
                                <textarea class="form-control" id="shareURLsDesc" rows="2" placeholder="Description"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <br />

                        <div class="form-group">
                            <button type="button" class="btn btn-lg btn-primary" id="shareURLs">Share URL's</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0">
        <div class="container">
            <h2 class="text-center text-uppercase text-white">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                        molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta,
                        eos quod consequuntur itaque. Nam.
                    </p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil,
                        molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta,
                        eos quod consequuntur itaque. Nam.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}